body {
  background-image: url("https://images.unsplash.com/photo-1464618663641-bbdd760ae84a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8d2Vic2l0ZSUyMGJhY2tncm91bmR8ZW58MHx8MHx8");
}

.container {
}

.container > div {
  margin: 10px;
}

.header {
  border: 2px solid black;
  height: 70px;
  display: flex;
  justify-content: space-between;
  background-color: aqua;
}

h4 {
  display: flex;
  justify-content: center;
  background-color: blueviolet;
}
.main {
  border: 2px solid black;
  height: 450px;
}

.main1 {
  height: 150px;
  display: flex;
  border: 2px solid black;
  justify-content: space-around;
  align-items: center;
  background-color: aquamarine;
}

.main2 {
  height: 232px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 2px solid black;
  background-color: azure;
}

.heading {
  font-size: 30px;
  font-weight: 300;
  font-family: "Niconne", cursive;
}

.profile {
  font-size: 15px;
  font-weight: 100;
  font-family: "Niconne", cursive;
}

.logout {
  /* CSS */

  margin-top: 12px;
  border: 0;
  border-radius: 12px;
  color: #964618;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-62:not([disabled]):focus {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
    0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
}

.button-62:not([disabled]):hover {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
    0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
}
