     *{
        width: 80%;
        margin: auto;
     }

     body{
      background-color: antiquewhite;
      background-image: url("http://www.daks.me/img_flwr.gif");
     }

     p{
      padding-top: 20px;
      text-decoration: double;
      text-overflow: ellipsis;
      box-sizing: border-box;
      border: 2px solid black;
     }

     button{
      width: 20%;
      margin: auto;
      padding-right: 10px;
     }