     *{
        width: 80%;
        margin: auto;
     }

     body{
      background-color: antiquewhite;
     }

     p{
      padding-top: 20px;
      text-decoration: double;
      text-overflow: ellipsis;
      box-sizing: border-box;
      border: 2px solid black;
     }